.wrapper {
  display: grid;
  gap: 40px;
  align-items: center;
  padding-inline: 15px;
  padding-block-end: 15px;
  margin-top: 30px;
  color: #fff;
  width: 100%;
  max-width: 720px;

  @media screen and (min-width: 600px) {
    & {
      grid-template-columns: 1fr 1fr;
    }
  }

  ::placeholder {
    color: #a089d7;
  }

  h2 {
    margin-block-end: 20px;
    font-size: calc(24 / 16 * 1rem);
  }
}

.button {
  background-color: #c782f1;
  border-radius: 10px;
  padding: 10px;
  grid-column: 1/-1;
}

.img {
  position: relative;
  cursor: pointer;
  width: 168px;
  height: 277px;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  justify-self: center;

  & > span {
    display: none;
  }

  &:is(:hover, :focus-visible) > span {
    display: block;
  }

  @media screen and (min-width: 600px) {
    & {
      width: 320px;
      height: 530px;
    }
  }
}

.container {
  display: grid;
  width: min(100%, 500px);
  gap: 40px;

  @media screen and (min-width: 600px) {
    & {
      align-items: center;
      justify-content: center;
      gap: 20px;
      height: 530px;
      padding-bottom: 30px;
      overflow-y: scroll;
    }
  }
}

.form {
  display: grid;
  gap: 40px;

  & > div:nth-of-type(1) input {
    margin-block-end: 20px;
  }

  & > div input + span {
    color: #a089d7;
  }

  h2 {
    margin-block-end: 10px;
  }

  label {
    display: inline-block;
    margin-block: 10px;
  }
}

.chips {
  margin-block-start: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

@media screen and (min-width: 600px) {
  .duration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
