.wrapper {
  display: grid;
  gap: 40px;
  align-items: center;
  padding-inline: 15px;
  padding-block-end: 15px;
  margin-top: 30px;
  color: #fff;

  @media screen and (min-width: 600px) {
    & {
      height: 90vh;
      grid-template-columns: 1fr 1fr;
    }
  }

  ::placeholder {
    color: #a089d7;
  }
}

.button {
  background-color: #c782f1;
  border-radius: 10px;
  padding: 10px;
}

.img {
  width: 168px;
  height: 277px;
  background-color: #000;
  border-radius: 10px;
  justify-self: center;

  @media screen and (min-width: 600px) {
    & {
      width: 320px;
      height: 530px;
    }
  }
}

.form {
  display: grid;
  gap: 40px;
  width: min(100%, 500px);

  @media screen and (min-width: 600px) {
    & {
      height: 70%;
      padding-inline: 5px;
      padding-bottom: 30px;
      overflow-y: scroll;
    }
  }

  & > div:nth-of-type(1) input {
    margin-block-end: 20px;
  }

  & > div input + span {
    color: #a089d7;
  }

  h2 {
    margin-block-end: 20px;
  }

  label {
    display: inline-block;
    margin-block: 10px;
  }
}

.items > div {
  margin-block-start: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
