@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  background: linear-gradient(180deg, #140e1a 31.5%, #634480 100%);
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-areas:
    header
    main;
}

html {
  font-family: "Bayon";
}

button {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}
