@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    background: linear-gradient(180deg, #140e1a 31.5%, #634480 100%);
    width: 100%;
    min-height: 100dvh;
    display: grid;
    place-items: center;
}

html {
    font-family: "Bayon";
}

button {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

img {
    border-radius: inherit;
    max-width: 100%;
  }

