.nav {
  display: grid;
  grid-auto-flow: column;
  justify-items: space-between;
  padding: 20px 10px;
  position: fixed;
  right: 0;
  left: 0;
  background: #140e1a;
  z-index: 1000;

  @media screen and (min-width: 600px) {
    & {
      gap: 10px;
    }
  }
}

.logo {
  color: #a089d7;
  font-size: calc(24 / 16 * 1rem);
  width: fit-content;
}

.input {
  display: none;

  @media screen and (min-width: 600px) {
    & {
      display: block;
      position: relative;

      input {
        padding: 10px;
        border-radius: 10px;
        width: min(100%, 500px);
        padding-inline-start: 35px;
      }

      span {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .mobile {
    display: none;
  }
}

.icons {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: end;
  color: #fff;

  @media screen and (min-width: 600px) {
    & {
      gap: 30px;
    }
  }
}

.avatar {
  width: 24px;
  height: 24px;
}

.profile {
  display: flex;
  gap: 5px;
}
